* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f1f1f1;
}
.header {
    width: 100%;
    height: 40px;
    background: #4566af;
    border-bottom: 1px solid black;
    

}
.logo {
    width: 25px;
    height: 25px;
    margin-left: 65px;
    margin-top: 7px;
    display: block;
    float: left;
}
.search {
    width: 420px;
    height: 24px;
    margin-top: 7px;
    margin-left: 7px;
    display: block;
    float: left;
    position: relative;
}
.captured {
    margin-top: 3px;
    margin-right: 170px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 472px;
    margin-top:8px;
    height: 23px;
}

.navigation {
    width: 500px;
    display: block;
    float: right;
    line-height: 25px;
    margin-right: 240px;
    margin-top: 10px;
}
.nav-list {
    display: block;
    list-style: none;
    float: right;
    margin-right: 100px;
}
.nav {
    display: block;
    float: left;
    padding-left: 19px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: arial;
    font-size: 13px;
    margin-top: -5px;
    font-weight: bold;
    border-right: 1px solid rgba(14, 13, 13, .15);
}
.nav-item {
    display: block;
    float: left;
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: arial;
}
.one {
    margin-top: -10px;
}
.two {
    margin-top: -5px;
}
.abc {
    border-right: 1px solid rgba(14, 13, 13, .15);
    padding-right: 5px;

}
.article {
    width: 850px;
    height: 1000px;
    background:#f1f1f1;
    margin: 0 auto;
   padding-top: 20px;
}
.status {
    width: 505px;
    height: 140px;
    background: #fff;
    display: block;
    float:  left;
    position: relative;
    margin-right: 10px;
}
.status-head {
    width: 505px;
    height: 30px;
    background: #f1f1f1;
    color: rgb(12, 15, 15);
    font-family: arial;
    font-size: 12px;
    line-height: 25px;
    padding-left: 9px;
    border: 1px solid rgba(14, 13, 13, .15);
    font-weight: bold;
   
    
}
.input {
    width: 450px;
    height: 70px;
    border: none;
    background: #fff;
    margin-left: 55px;
}
.cat {
    width: 505px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 5px;
    margin-top: 40px;
}
.story {
    float:  left;
}
.article-item {
    width: 490px;
    height: 450px;
    background:#f1f1f1;
    margin-top: 150px;
    position: relative;
}
.cxviri {
    position: absolute;
    top: 0;
    left: 0;
    width: 505px;
}
.chelsea {
    margin-top: 45px;
}
.kante {
    width: 505px;
}
.banner {
        position: fixed;
        top:41px;
        left:0px;
        background: black;
        width: 100px;
        height: 400px;  
}
.right {
        left: auto;
        right: 80px;
        top: 41px;
}